'name': 'KSP Config'
'scopeName': 'source.kspcfg'
'fileTypes': [
  'cfg'
]
'patterns': [
  {
    'captures':
      '1':
        'name': 'keyword.operator.modifier.attribute.kspcfg'
      '2':
        'name': 'keyword.control.part.kspcfg'
      '4':
        'name': 'variable.other.name.part.kspcfg'
    'match': '^\\s*([\\-\\*\\!\\+\\$\\%\\@])?(PART)(\\[(\\*|\\w+)\\])?'
    'name': 'meta.part.kspcfg'
  }
  {
    'captures':
      '1':
        'name': 'keyword.operator.modifier.attribute.kspcfg'
      '2':
        'name': 'keyword.control.module.kspcfg'
    'match': '^\\s*([\\-\\*\\!\\+\\$\\%\\@])?(MODULE)'
    'name': 'meta.module.kspcfg'
  }
  {
    'captures':
      '1':
        'name': 'keyword.operator.modifier.attribute.kspcfg'
      '2':
        'name': 'variable.other.readwrite.attribute.kspcfg'
      '3':
        'name': 'keyword.operator.assignment.source.kspcfg'
      '4':
        'name': 'string.other.kspcfg'
    'match': '^\\s*([\\-\\*\\!\\+\\$\\%\\@])?(\\b[a-zA-Z_]*\\b)\\s*(=)\\s*(.*)$'
    'name': 'meta.attribute.kspcfg'
  }
  {
    'begin': '//'
    'captures':
      '1':
        'name': 'punctuation.definition.comment.source.kspcfg'
    'end': '$\\n?'
    'name': 'comment.line.double-slash.source.kspcfg'
  }
]
