'name': 'KSP Config'
'scopeName': 'source.kspcfg'
'fileTypes': [
  'cfg'
]
'patterns': [
  {
    'captures':
      '1':
        'name': 'punctuation.definition.part.kspcfg'
      '2':
        'name': 'keyword.control.part.kspcfg'
    'match': '^\\s*([-*!+$%])?(PART)'
    'name': 'meta.part.kspcfg'
  }
  {
    'captures':
      '1':
        'name': 'keyword.control.attribute.kspcfg'
      '2':
        'name': 'punctuation.assignment.attribute.kspcfg'
    'match': '^\\s*(\\b[a-zA-Z]*\\b)\\s*(=)\\s*'
    'name': 'meta.attribute.kspcfg'
  }
]
